@import 'variables';

html{
    font-size: 10px;
    font-family: $fontfamily;
}

body{
    background-color: $bgc-color;
}

.todo{
    display: flex;
    flex-direction: column;
    margin: $spacing;
    background-color: $app-container;
    border: 4px solid #9BE8D8;
    border-radius: 15px;

    @media (min-width: 781px){
        width: 80%;
        margin: $spacing auto;
    }

    @media(min-width: 1024px){
        width: 60%;
    }

    &__title{
        text-align: center;
        font-size: 2.2rem;
        margin: $spacing 0;

        @media (min-width: 781px){
            font-size: 3rem;
        }

        @media (min-width: 1024px){
            font-size: 3.8rem;
        }
    }
}