@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$bgc-color: #F8FDCF;
$app-container: #78C1F3;
$btn-color: #DAFFFB;

$fontfamily: 'Roboto', sans-serif;;

$spacing: 25px;
